---
import { tel } from '../../constants';
import CallToAction from '../components/CallToAction.astro';
import CommentsSlider from '../components/CommentsSlider.astro';
import Counter from '../components/Counter.astro';
import ImagesSlider from '../components/ImagesSlider.astro';
import SectionTitle from '../components/SectionTitle.astro';
import ServiceButton from '../components/ServiceButton.astro';
import Layout from '../layouts/Layout.astro';
import { benefits } from '../utils/data/benefits';
import 'aos/dist/aos.css';
import { brands } from '../utils/data/brands';
import { getImage, Image, Picture } from 'astro:assets';
import { services } from '../utils/data/services';
import WhatsApp from '../components/client/WhatsApp.jsx';
import heroDesktop from '../assets/images/hero.webp';
import heroMobile from '../assets/images/hero-mobile.jpg';

// Procesa las imágenes con getImage
const optimizedDesktop = await getImage({
  src: heroDesktop,
  width: 1728,
  height: 625,
  format: 'webp',
  quality: 80,
});

const optimizedMobile = await getImage({
  src: heroMobile,
  width: 768,
  height: 625,
  format: 'webp',
  quality: 80,
});
---

<Layout>
  <main class="app-container pt-[76px]">
    <!-- HERO BANNER -->
    <section
      class="app-banner h-[calc(100vh_-_250px)] max-h-[625px] flex items-center justify-center text-center flex-col gap-4"
    >
      <!-- Componente Picture con art direction -->
      <Image
        src={heroDesktop}
        class="absolute inset-0 w-full h-full object-cover -z-10"
        fetchpriority={'high'}
        loading={'eager'}
        alt="Appliance repair in Cupertino"
        srcset={`${heroDesktop.src} 1728w, ${heroMobile.src} 768w`}
        sizes="(max-width: 600px) 600px, (max-width: 1024px) 1024px, 1728px"
      />

      <!-- Gradient overlay -->
      <div class={`absolute inset-0 -z-0 bg-gradient h-full`}></div>

      <h1
        data-aos="fade-down"
        class="text-3xl sm:text-4xl lg:text-5xl text-white font-semibold"
      >
        Appliance Repair in Cupertino, CA
      </h1>
      <div class="text-xl sm:text-3xl">
        <p data-aos="fade-down" data-aos-delay="200" class="text-white">
          Trust the professionals!
        </p>
        <div
          data-aos="fade-in"
          data-aos-delay="600"
          data-aos-duration="1000"
          class="text-white"
        >
          Call us: <a href={`tel:${tel}`} class="font-bold text-white"
            >{tel}
          </a>
        </div>
      </div>
    </section>

    <div
      data-aos="fade-up"
      data-aos-delay="700"
      class="flex justify-center -mt-24 relative z-10 pb-20"
    >
      <CallToAction
        title="Why wait?"
        description=" Call us and let's get your appliances running smoothly again!"
      />
    </div>

    <!-- WHY US? -->

    <section class="pb-12 text-center">
      <SectionTitle title="Why us?" subtitle="Efficiency in every fix." />
      <p data-aos="fade-in" class="pt-12">
        At Smart Nest Repair, we proudly serve every corner of Cupertino—from
        the tree-lined streets of Monta Vista (95014) and the bustling shops
        around Cupertino Village (95015), to the cozy homes of Rancho Rinconada,
        Lawson, and the Vallco neighborhood. No matter where you’re located, our
        certified technicians are ready with same-day service and 24/7 emergency
        repairs to keep your appliances running smoothly
      </p>
      <div class="sm:hidden pt-8">
        <ImagesSlider />
      </div>
      <div class="grid sm:grid-cols-3 gap-4 py-12">
        {
          benefits.map((item, index) => {
            return (
              <div
                data-aos="fade-in"
                data-aos-offset="100"
                data-aos-delay={index * 100}
                data-aos-duration="1500"
                class="flex gap-8 flex-col items-baseline"
              >
                <Image
                  src={item.image}
                  alt={item.alt}
                  class="hidden sm:inline-block w-[287px] h-[158px]"
                  loading={'lazy'}
                />
                <div class="flex gap-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 10.8181 20.7672 9.64778 20.3149 8.55585C19.8626 7.46392 19.1997 6.47177 18.364 5.63604C17.5282 4.80031 16.5361 4.13738 15.4442 3.68508C14.3522 3.23279 13.1819 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21ZM11.768 15.64L16.768 9.64L15.232 8.36L10.932 13.519L8.707 11.293L7.293 12.707L10.293 15.707L11.067 16.481L11.768 15.64Z"
                      fill="#1F9A5F"
                    />
                  </svg>
                  <p class="flex-1 text-left">{item.description}</p>
                </div>
              </div>
            );
          })
        }
      </div>
      <a
        href={`tel:${tel}`}
        class="border mx-auto inline-block min-w-[300px] border-hr-primary gap-2 text-lg font-medium text-hr-primary px-6 py-2 rounded-full"
      >
        Schedule a service
      </a>
    </section>

    <section class="bg-hr-background app-banner py-12">
      <div class="app-container">
        <SectionTitle
          title="Our Services"
          subtitle="Fast repairs, lasting results."
        />

        <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 pt-8">
          {
            services.map((service, index) => {
              return (
                <ServiceButton
                  id={index}
                  image={service.image}
                  title={service.title}
                  description={service.description}
                />
              );
            })
          }
        </div>
      </div>
    </section>

    <section class="py-12 text-center">
      <h3 class="text-2xl text-hr-primary text-center font-semibold pt-8">
        Some Fun Facts About Us
      </h3>
      <div
        class="py-8 flex flex-col gap-8 sm:flex-row justify-around sm:translate-x-9"
      >
        <Counter number={12} description="Years in service" />
        <Counter number={1000} next="+" description="Clients satisfied" />
        <Counter number={100} description="Dedication to Customers" next="%" />
      </div>

      <a
        href={`tel:${tel}`}
        class="bg-hr-primary mx-auto text-white rounded-full w-[267px] max-w-full h-[60px] text-lg font-medium flex items-center justify-center mt-8"
        >Call For Expert Repairs</a
      >
    </section>

    <section class="app-banner py-20 text-center bg-hr-background">
      <h3 class="text-2xl text-hr-primary text-center font-semibold pb-4">
        What Our Clients Say
      </h3>

      <CommentsSlider />
      <a
        href={`tel:${tel}`}
        class="border border-hr-primary text-hr-primary rounded-full w-[267px] max-w-full h-[60px] text-lg font-medium flex items-center justify-center mx-auto mt-8"
        >I Need A Repair Now
      </a>
    </section>

    <section class="py-12 text-center">
      <h3 class="text-2xl text-hr-primary text-center font-semibold pt-8">
        We Service All Major Brands & Models
      </h3>
      <div
        class="grid grid-cols-2 sm:grid-cols-3 items-center gap-x-12 py-8 justify-items-center"
      >
        {
          brands.map((brand) => {
            return (
              <Image
                src={brand.image}
                alt={brand.alt}
                width="200"
                height="70"
                class="w-[200px]"
                loading={'lazy'}
              />
            );
          })
        }
      </div>
    </section>

    <!-- <section
      class="app-banner bg-hr-background h-[400px] flex items-center justify-center text-center flex-col gap-4"
    >
      <h2
        class="text-3xl sm:text-4xl lg:text-5xl text-hr-primary font-semibold"
      >
        Appliance Repair in Cupertino, CA
      </h2>
      <div class="text-xl sm:text-3xl">
        <p class="text-hr-primary-light">Trust the professionals!</p>
        <div class="text-hr-primary-light">
          Call us: <a
            href={`tel:${tel}`}
            class="font-bold text-hr-primary-light"
            >{tel}
          </a>
        </div>
      </div>
    </section> -->
    <section class="fixed bottom-0 right-0 z-50">
      <WhatsApp client:only="react" />
    </section>
  </main>
</Layout>
<script>
  import AOS from 'aos';
  AOS.init({
    once: true,
  });
</script>
