---
import CallToAction from '../components/CallToAction.astro';
import CommentsSlider from '../components/CommentsSlider.astro';
import Counter from '../components/Counter.astro';
import ImagesSlider from '../components/ImagesSlider.astro';
import SectionTitle from '../components/SectionTitle.astro';
import ServiceButton from '../components/ServiceButton.astro';
import Layout from '../layouts/Layout.astro';
import { benefits } from '../utils/data/benefits';

const services = [
  {
    image: '/images/services/refrigerator.png',
    title: 'Refrigerator Repair',
    description:
      'Torn door seal door. Leaking from the refrigerator. No longer makes ice. Frost buildup. No longer dispenses water. Using too much power. Compressor is not working.',
  },
  {
    image: '/images/services/dishwasher.png',
    title: 'Dishwasher',
    description:
      "The dishwasher won't start at all. The dishwasher doesn't complete its cycle. The dishes remain dirty and cold after every cycle. Water leaks in your kitchen Strange and loud noises. Dishes won't dry.",
  },
  {
    image: '/images/services/microwave.png',
    title: 'Microwave Repair',
    description:
      'The microwave isn’t working. There are sparks inside the microwave. The turntable is not rotating. Microwave isn’t heating food. The touch pad only works intermittently.',
  },
  {
    image: '/images/services/dryer.png',
    title: 'Dryer Repair',
    description:
      'Dyer or washer not turning-on. Dryer isn’t producing heat. Dryer is running too hot. Washing machine not spinning Leaks. Water is not cold or hot Draining water.',
  },
  {
    image: '/images/services/garbage.png',
    title: 'Garbage Disposal',
    description:
      'Disposal won’t turn on. Garbage disposal won’t drain. Garbage disposal stopped working. There is a leak in one place or more. The garbage disposal is jammed. The garbage disposal is making excessive noise.',
  },
  {
    image: '/images/services/oven.png',
    title: 'Oven, Stove Repair',
    description:
      'The burner is not turning on. The burner is burning too hot, the Indicator Light remains on. The oven door is stuck. The oven or broiler are not getting hot. inconsistent temperatures',
  },
];
---

<Layout title="Home Appliance Repair">
  <main class="app-container">
    <!-- HERO BANNER -->
    <section
      class="app-banner bg-gradient h-[calc(100vh_-_250px)] flex items-center justify-center text-center flex-col gap-4"
    >
      <h1 class="text-3xl sm:text-4xl lg:text-5xl text-white font-semibold">
        Appliance Repair Service Experts
      </h1>
      <div class="text-xl sm:text-3xl">
        <p class="text-white">Trust the professionals!</p>
        <div class="text-hr-secondary-light" aria-label="hidden">
          Call us: <span class="font-bold">(408) 909-1844 </span>
        </div>
      </div>
    </section>
    <div class="flex justify-center -mt-24 relative z-10 pb-20">
      <CallToAction
        title="Why wait?"
        description=" Call us and let's get your appliances running smoothly again!"
      />
    </div>

    <!-- WHY US? -->

    <section class="pb-12 text-center">
      <SectionTitle title="Why us?" subtitle="Efficiency in every fix." />
      <div class="sm:hidden pt-8">
        <ImagesSlider />
      </div>
      <div class="grid sm:grid-cols-3 gap-4 py-12">
        {
          benefits.map((item) => {
            return (
              <div class="flex gap-8 flex-col items-baseline">
                <img
                  src={item.image}
                  alt=""
                  class="hidden sm:inline-block w-[287px] h-[158px]"
                />
                <div class="flex gap-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 10.8181 20.7672 9.64778 20.3149 8.55585C19.8626 7.46392 19.1997 6.47177 18.364 5.63604C17.5282 4.80031 16.5361 4.13738 15.4442 3.68508C14.3522 3.23279 13.1819 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21ZM11.768 15.64L16.768 9.64L15.232 8.36L10.932 13.519L8.707 11.293L7.293 12.707L10.293 15.707L11.067 16.481L11.768 15.64Z"
                      fill="#1F9A5F"
                    />
                  </svg>
                  <p class="flex-1 text-left">{item.description}</p>
                </div>
              </div>
            );
          })
        }
      </div>
      <button
        class="border mx-auto min-w-[300px] border-hr-primary gap-2 text-lg font-medium text-hr-primary px-6 py-2 rounded-full"
      >
        Schedule a service
      </button>
    </section>

    <section class="bg-hr-background app-banner py-12">
      <div class="app-container">
        <SectionTitle
          title="Our Services"
          subtitle="Fast repairs, lasting results."
        />

        <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 pt-8">
          {
            services.map((service, index) => {
              return (
                <ServiceButton
                  id={index}
                  image={service.image}
                  title={service.title}
                  description={service.description}
                />
              );
            })
          }
        </div>
      </div>
    </section>

    <section class="py-12 text-center">
      <h3 class="text-2xl text-hr-primary text-center font-semibold pt-8">
        Some Fun Facts About Us
      </h3>
      <div class="py-8 flex flex-col gap-8 sm:flex-row justify-around">
        <Counter number={12} description="Years in service" />
        <Counter number={20} description="Locations Serviced" />
        <Counter number={100} description="Dedication to Customers" next="%" />
      </div>

      <button
        class="bg-hr-primary text-white rounded-full w-[267px] max-w-full h-[60px] text-lg font-medium inline-block mt-8"
        >Call For Expert Repairs</button
      >
    </section>

    <section class="app-banner py-12 text-center bg-hr-background">
      <h3 class="text-2xl text-hr-primary text-center font-semibold">
        What Our Clients Say
      </h3>

      <CommentsSlider />
      <button
        class="border border-hr-primary text-hr-primary rounded-full w-[267px] max-w-full h-[60px] text-lg font-medium inline-block mt-8"
        >I Need A Repair Now
      </button>
    </section>
    <section
      class="app-banner bg-gradient h-[400px] flex items-center justify-center text-center flex-col gap-4"
    >
      <h1 class="text-3xl sm:text-4xl lg:text-5xl text-white font-semibold">
        Appliance Repair Service Experts
      </h1>
      <div class="text-xl sm:text-3xl">
        <p class="text-white">Trust the professionals!</p>
        <div class="text-hr-secondary-light" aria-label="hidden">
          Call us: <span class="font-bold">(408) 909-1844 </span>
        </div>
      </div>
    </section>
  </main>
</Layout>
